body {
margin:0px;
padding: 0px;
}

header{
background-color:#332F2C;
position:fixed; /*fixem la posició del header*/
top:0px;
left: 0px;
right: 0px;
}

h1{
text-align:center;
color:white;
}

nav {
text-align:center;
background-color:#332F2C;
position: sticky;
top: 0px;
}

#seccioUnoNav, #seccioDosNav, #seccioTresNav {
color:white;
}

main {
margin-top: 150px;
margin-left: 10px;
margin-right: 10px;
}

#seccioUno, #seccioDos, #seccioTres {
background-color:#B5B2B2;
margin-left: 10px;
margin-bottom: 10px;
padding: 32px;
margin-right: 10px;
box-shadow: 2px 2px 2px black;  /*Pusem ombra a les tres seccions*/
}

#iphoneDoceImg, #iphoneTreceImg, #iphoneCatorceImg {
top: -15px; /* ajustar los valores para mover la imagen */
left: -5px;
width: 300px;
height: 300px;
box-shadow: 1px 1px black;
}

h2 {
margin-left: 10px;
color: white;
text-shadow: 1px 1px black;
}
/*Ajustem i personalitzem el footer*/
footer {
text-align:center;
background-color:#332F2C;
bottom: 0px;
right: 0px;
left: 0px;
margin-top: 20px;
padding:5px;
}

#txtFooter{
color:white;
font-size:10px
}

#paragrafoUno, #paragrafoDos, #paragrafoTres {
color: white;
margin-left: 10px;
}




